
JAPS/*
local_auth_pvt.json
__pycache__/fastapi_test.cpython-310.pyc
avishek-01_accessKeys.csv
AWSCLIV2.msi
config.py
speakflow-avi.pem
vertexSearch.py
.env
avishek.run.place.93l51kj7/avishek.run.place.cer
avishek.run.place.93l51kj7/avishek.run.place.key
avishek.run.place.93l51kj7.zip
avishek.run.place.93l51kj7/ca.cer
